<!-- wp:template-part {"slug":"header","tagName":"header","theme":"sodepy"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|90"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:heading {"level":1,"style":{"typography":{"fontSize":"var:preset|font-size|2xl","fontWeight":"700"},"spacing":{"margin":{"bottom":"var:preset|spacing|70"}}}} -->
	<h1 class="wp-block-heading"><?php esc_html_e( 'Tu carrito', 'sodepy' ); ?></h1>
	<!-- /wp:heading -->
	<!-- wp:woocommerce/cart /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","theme":"sodepy"} /-->
